<% provide(:title, 'Add a new Recipe') %>
<div class="center jumbotron">
<h2>Add a New Recipe</h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <%= form_for(@recipe, html: {multipart: true}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Recipe Name...", class: 'form-control'  %>
        <br />

        <span class="picture">
          <label>Upload a Picture: </label>
          <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png', class: 'form-control'  %>
          <br />
        </span>

        <%= f.label :ingredients %>
        <%= f.text_area :ingredients, placeholder: "list ingredients...", :cols => "30", :rows => "10", class: 'form-control'  %>
        <br />

        <%= f.label :directions %>
        <%= f.text_area :directions, placeholder: "Add directions...", :cols => "50", :rows => "10", class: 'form-control'  %>
        <br />

        <%= f.submit "Create", class: "btn btn-primary" %>
      
    <% end %>
    </div>
  </div>
  <script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
      size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>